<h1 class="page-header">Admin</h1>
<h2>Users</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><i class="fa fa-fw fa-sort-desc"></i>Username</th>
                <th><i class="fa fa-fw fa-sort-desc"></i>Password</th>
                <th><i class="fa fa-fw fa-sort-desc"></i>Role</th>
                <th><i class="fa fa-fw fa-sort-desc"></i>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="username" id="username" placeholder="username"></td>
                <td><input type="password" name="password" id="password" placeholder="password"></td>
                <td><input type="text" name="roles" id="roles" placeholder="role1, role2"></td>
                <td>
                    <span class="glyphicon glyphicon-plus fa-2x"></span>
                    <span class="glyphicon glyphicon-ok fa-2x"></span>
                </td>
            </tr>
            <tr>
                <td>alice</td>
                <td></td>
                <td>student</td>
                <td>
                    <span class="glyphicon glyphicon-remove fa-2x"></span>
                    <span class="glyphicon glyphicon-pencil fa-2x"></span>
                </td>
            </tr>
            <tr>
                <td>bob</td>
                <td></td>
                <td>faculty | admin</td>
                <td>
                    <span class="glyphicon glyphicon-remove fa-2x"></span>
                    <span class="glyphicon glyphicon-pencil fa-2x"></span>
                </td>
            </tr>
            <tr>
                <td>charlie</td>
                <td></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-remove fa-2x"></span>
                    <span class="glyphicon glyphicon-pencil fa-2x"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
