<h1 class="page-header">Forms</h1>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="forms.view.html">Forms</a></li>
    <li role="presentation" class="active"><a href="#">Fields</a></li>
</ul>

<form class="form-vertical">

    <div class="form-group col-xs-12">
        <div class="col-xs-8">
            <label for="inputFirstName" class="control-label">First Name:</label>
            <input type="text" name="firstName" class="form-control" id="inputFirstName" placeholder="First Name">
        </div>
        <div class="col-xs-4">
            <span class="glyphicon glyphicon-pencil fa-2x"></span>
            <span class="glyphicon glyphicon-plus fa-2x"></span>
            <span class="glyphicon glyphicon-remove fa-2x"></span>
            <span class="glyphicon glyphicon-menu-hamburger fa-2x"></span>
        </div>
    </div>
    <div class="form-group col-xs-12">
        <div class="col-xs-8">
            <label for="inputLastName" class="control-label">Last Name:</label>
            <input type="text" name="lastName" class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
        <div class="col-xs-4">
            <span class="glyphicon glyphicon-pencil fa-2x"></span>
            <span class="glyphicon glyphicon-plus fa-2x"></span>
            <span class="glyphicon glyphicon-remove fa-2x"></span>
            <span class="glyphicon glyphicon-menu-hamburger fa-2x"></span>
        </div>
    </div>
    <div class="form-group col-xs-12">
        <div class="col-xs-8">
            <label for="dob" class="control-label">Date of Birth:</label>
            <input type="date" name="dob" class="form-control" id="dob" placeholder="mm/dd/yyyy">
        </div>
        <div class="col-xs-4">
            <span class="glyphicon glyphicon-pencil fa-2x"></span>
            <span class="glyphicon glyphicon-plus fa-2x"></span>
            <span class="glyphicon glyphicon-remove fa-2x"></span>
            <span class="glyphicon glyphicon-menu-hamburger fa-2x"></span>
        </div>
    </div>
    <div class="form-group col-xs-12">
        <div class="col-xs-8">
            <label for="gender" class="control-label">Gender:</label>
            <select class="form-control" id="gender">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div class="col-xs-4">
            <span class="glyphicon glyphicon-pencil fa-2x"></span>
            <span class="glyphicon glyphicon-plus fa-2x"></span>
            <span class="glyphicon glyphicon-remove fa-2x"></span>
            <span class="glyphicon glyphicon-menu-hamburger fa-2x"></span>
        </div>
    </div>
    <div class="form-group col-xs-12">
        <div class="col-xs-8">
            <label for="roles" class="control-label">Roles:</label>
            <ul class="list-unstyled" id="roles">
                <li><input type="checkbox"> Admin</li>
                <li><input type="checkbox"> Student</li>
                <li><input type="checkbox"> User</li>
            </ul>
        </div>
        <div class="col-xs-4">
            <span class="glyphicon glyphicon-pencil fa-2x"></span>
            <span class="glyphicon glyphicon-plus fa-2x"></span>
            <span class="glyphicon glyphicon-remove fa-2x"></span>
            <span class="glyphicon glyphicon-menu-hamburger fa-2x"></span>
        </div>
    </div>
    <div class="form-group col-xs-12">
        <div class="col-xs-8">
            <label class="control-label">License Agreement:</label> <br>
            <input type="radio" name="roles" id="yes"> Yes <br>
            <input type="radio" name="roles" id="no"> No
        </div>
        <div class="col-xs-4">
            <span class="glyphicon glyphicon-pencil fa-2x"></span>
            <span class="glyphicon glyphicon-plus fa-2x"></span>
            <span class="glyphicon glyphicon-remove fa-2x"></span>
            <span class="glyphicon glyphicon-menu-hamburger fa-2x"></span>
        </div>
    </div>
    <div class="form-group col-xs-12">
        <hr>
        <div class="col-xs-8">
            <label for="gender" class="control-label">Add New Field:</label>
            <select class="form-control" id="field">
                <option>Single Line Text</option>
                <option>Dropdown</option>
                <option>Checkboxes</option>
                <option>Radio Buttons</option>
            </select>
        </div>
        <div class="col-xs-4">
            <span class="col-xs-1"></span>
            <span class="glyphicon glyphicon-plus fa-2x"></span>
        </div>
    </div>
    <hr>
</form>