<div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarController">
    <ul class="nav nav-sidebar">
        <li><a href="#/home">Home</a></li>
        <li ng-show="currentUser != null" ng-class="{'active' : $location.url() == '/profile'}"><a href="#/profile">Profile</a></li>
        <li ng-show="currentUser != null" ng-class="{'active' : $location.url() == '/forms'}"><a href="#/forms">Forms</a></li>
        <li ng-show="currentUser != null && currentUser.roles.indexOf('admin') != -1"><a href="#/admin">Admin</a></li>
    </ul>
</div>