<h1 class="page-header">Forms</h1>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/forms">Forms</a></li>
    <li role="presentation" class="active"><a href="#">Fields</a></li>
</ul>

<form id="sortableFields" class="form-vertical">

    <div class="form-group col-xs-12" ng-repeat="field in fields" ng-switch="field.type">

        <div ng-switch-when="TEXT" class="col-xs-8">
            <label for="{{field.label}}" class="control-label">{{field.label}}</label>
            <input type="text" name="{{field.label}}" class="form-control" id="{{field.label}}" placeholder="{{field.placeholder}}">
        </div>
        <div ng-switch-when="TEXTAREA" class="col-xs-8">
            <label for="{{field.label}}" class="control-label">{{field.label}}</label>
            <textarea name="{{field.label}}" class="form-control" id="{{field.label}}" placeholder="{{field.placeholder}}"></textarea>
        </div>
        <div ng-switch-when="DATE" class="col-xs-8">
            <label for="{{field.label}}" class="control-label">Date of Birth:</label>
            <input type="date" name="{{field.label}}" class="form-control" id="{{field.label}}" placeholder="{{field.placeholder}}">
        </div>
        <div ng-switch-when="OPTIONS" class="col-xs-8">
            <label for="{{field.placeholder}}" class="control-label">Gender:</label>
            <select class="form-control" id="{{field.placeholder}}">
                <option ng-repeat="option in field.options">{{option.label}}</option>
            </select>
        </div>
        <div ng-switch-when="RADIOS" class="col-xs-8">
            <label class="control-label">License Agreement:</label> <br>
            <span ng-repeat="option in field.options">
                <input type="radio" name="roles" id="yes"> {{ option.label}} <br>
            </span>
        </div>
        <div ng-switch-when="CHECKBOXES" class="col-xs-8">
            <label for="roles" class="control-label">Roles:</label>
            <ul class="list-unstyled" id="roles">
                <li ng-repeat="option in field.options"><input type="checkbox">{{option.label}}</li>
            </ul>
        </div>

        <div class="col-xs-4">
            <span class="glyphicon glyphicon-pencil fa-2x" data-toggle="modal" data-target="#{{field.type}}_MODAL" ng-click="setEditingField(field)"></span>
            <span class="glyphicon glyphicon-plus fa-2x"></span>
            <span class="glyphicon glyphicon-remove fa-2x" ng-click="removeField(field)"></span>
            <span class="glyphicon glyphicon-menu-hamburger fa-2x"></span>
        </div>
    </div>

</form>

<div class="form-group col-xs-12">
    <hr>
    <div class="col-xs-8">
        <label for="field" class="control-label">Add New Field:</label>
        <select class="form-control" id="field" ng-model="fieldType">
            <option value="TEXT">Single Line Text Field</option>
            <option value="TEXTAREA">Multi Line Text Field</option>
            <option value="DATE">Date</option>
            <option value="OPTION">Dropdown</option>
            <option value="CHECKBOXES">Checkboxes</option>
            <option value="RADIOS">Radio Buttons</option>
        </select>
    </div>
    <div class="col-xs-4">
        <span class="col-xs-1"></span>
        <span class="glyphicon glyphicon-plus fa-2x" ng-click="addField(fieldType)"></span>
    </div>
</div>

<div>

    <div id="TEXT_MODAL" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Single Line Field</h4>
                </div>
                <div class="modal-body">
                    <label for="labelInput" class="control-label">Label</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="labelInput" ng-model="editingField.label">

                    <label for="placeholder" class="control-label">Placeholder</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="placeholder" ng-model="editingField.placeholder">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveEditingField()">OK</button>
                </div>
            </div>

        </div>
    </div>

    <div id="TEXTAREA_MODAL" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Mutiple Line Field</h4>
                </div>
                <div class="modal-body">
                    <label for="labelInput" class="control-label">Label</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="labelInput" ng-model="editingField.label">

                    <label for="placeholder" class="control-label">Placeholder</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="placeholder" ng-model="editingField.placeholder">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveEditingField()">OK</button>
                </div>
            </div>

        </div>
    </div>

    <div id="DATE_MODAL" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Single Line Text</h4>
                </div>
                <div class="modal-body">
                    <label for="labelInput" class="control-label">Label</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="labelInput" ng-model="editingField.label">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveEditingField()">OK</button>
                </div>
            </div>

        </div>
    </div>

    <div id="OPTIONS_MODAL" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Single Line Text</h4>
                </div>
                <div class="modal-body">
                    <label for="labelInput" class="control-label">Label</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="labelInput" ng-model="editingField.label">

                    <label for="options" class="control-label">Options</label>
                    <textarea name="{{field.label}}" class="form-control" id="options" ng-model="editingField.optionDescription"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveEditingField()">OK</button>
                </div>
            </div>

        </div>
    </div>

    <div id="CHECKBOXES_MODAL" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Single Line Text</h4>
                </div>
                <div class="modal-body">
                    <label for="labelInput" class="control-label">Label</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="labelInput" ng-model="editingField.label">

                    <label for="options" class="control-label">Options</label>
                    <textarea name="{{field.label}}" class="form-control" id="options" ng-model="editingField.optionDescription"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveEditingField()">OK</button>
                </div>
            </div>

        </div>
    </div>

    <div id="RADIOS_MODAL" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Single Line Text</h4>
                </div>
                <div class="modal-body">
                    <label for="labelInput" class="control-label">Label</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="labelInput" ng-model="editingField.label">

                    <label for="options" class="control-label">Options</label>
                    <textarea name="{{field.label}}" class="form-control" id="options" ng-model="editingField.optionDescription"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveEditingField()">OK</button>
                </div>
            </div>

        </div>
    </div>

</div>