<div class="col-xs-4 col-xs-offset-4">
    <div class="row" ng-hide="isAdmin || $rootScope.currentMatch.isStarted">
        Waiting for game to start...
    </div>
    <div class="row" ng-hide="!isAdmin || $rootScope.currentMatch.isStarted">
        <button ng-click="startMatch()" class="btn btn-block">Start Game</button>
    </div>
    <div class="row" ng-hide="!$rootScope.currentMatch.isStarted">
        <div class="row" ng-hide="countdownTimer == null">
            Starting in {{countdownSeconds}}
        </div>
        <div class="row" ng-show="countdownTimer == null">
            Hit the button as fast as you can!
        </div>
    </div>
</div>