<h1 class="page-header">Admin</h1>
<h2>Users</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><i class="fa fa-fw fa-sort-desc"></i>Username</th>
                <th><i class="fa fa-fw fa-sort-desc"></i>Password</th>
                <th><i class="fa fa-fw fa-sort-desc"></i>Role</th>
                <th><i class="fa fa-fw fa-sort-desc"></i>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input ng-model="editingUser.username" type="text" name="username" id="username" placeholder="username"></td>
                <td><input ng-model="editingUser.password" type="password" name="password" id="password" placeholder="password"></td>
                <td><input ng-model="editingUser.rolesString" type="text" name="roles" id="roles" placeholder="role1, role2"></td>
                <td>
                    <span class="glyphicon glyphicon-plus fa-2x" ng-click="createUser()" ></span>
                    <span class="glyphicon glyphicon-ok fa-2x" ng-click="saveUser()" ></span>
                </td>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>{{user.roles.join(",")}}</td>
                <td>
                    <span class="glyphicon glyphicon-remove fa-2x" ng-click="deleteUser(user)"></span>
                    <span class="glyphicon glyphicon-pencil fa-2x" ng-click="selectUser(user)"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
