
<div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <button type="button" class="btn-primary btn-block btn-lg" ng-click="join()">Join Game</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <button class="btn-primary btn-block btn-lg" ng-click="create()">Create Game</button>
        </div>
    </div>
</div>